/*public css*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
a:hover {text-decoration: none;}
a {border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
html{font-family: "微软雅黑",Arial;}
select{-moz-appearance:none;-webkit-appearance:none;-webkit-linearappearance:none;
}
body{-webkit-overflow-scrolling: touch;-webkit-overflow-scrolling : touch; }
textarea, a {
    -webkit-tap-highlight-color: transparent;
}
input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.clear{
    display: block;
    clear: both
}

#loading{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#loading>i {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/images/loading.gif") no-repeat;
    background-size: cover;
}
.tabBar{
    height: 1.45rem;
    width: 100%;
    background: #f8f8f8;
    position: fixed;
    bottom: 0;
    right: 0;
}
.tabBar ul{
    display: flex;
    padding-top: 0.16rem;
}
.tabBar ul li{
    flex: 1;
}
.tabBar ul li img{
    display: block;
    margin: 0 auto;
    margin-top: 0.1rem;
}
.tabBar ul li p{
    color: #565656;
    font-size: 0.3rem;
    text-align: center;
}
.tabBar ul li:nth-of-type(2) p{
	color: #ff8e45;
}
.ButtonPersonal{
    width: 0.59rem;
    height: 0.67rem;
}
.ButtonShopping{
    width: 0.74rem;
    height: 0.67rem;
}
.ButtonGroup{
    width: 0.98rem;
    height: 0.68rem;
}
.ButtonFirst{
    width: 0.68rem;
    height: 0.68rem;
}

.wrapper{
    width: 100%;
}
.wrapper ul .box{
    padding-top: .36rem;
    padding-bottom: .3rem;
    border-bottom: .14rem solid #f0f0f0;
}
.goodsImg{
    padding-left: .36rem;
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    float: left;
    margin-right: .28rem;
}
.goodsBox{
    float: left;
    width: 58%;
}
.goodsTitle{
    font-size: .34rem;
    color: #333;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.goodsPrice{
    font-size: .34rem;
    color: #646464;
    margin-top: .18rem; 
    margin-bottom: .32rem;
}
.goodsPrice span{
    text-decoration: line-through
}
.goodsDes span{
    font-size: .34rem;
    color: #646464;
    width: 100%;
    display: block;
}
.goodsGet{
   overflow: hidden;
}
.groupparentBanner{
    width: 100%;
    height:3.6rem;
    display: block; 
}
.num{
    color: #ff8e45;
    font-size: .38rem;
    font-weight: 600;
    float: left;
    padding-top: .24rem;
}
.groupButton{
    display: block;
    background: -webkit-linear-gradient(left,#fb8f00, #fe5a00) !important;
    background: -o-linear-gradient(left,#fb8f00, #fe5a00) !important;
    background: -moz-linear-gradient(left,#fb8f00, #fe5a00) !important;
    background: linear-gradient(left,#fb8f00, #fe5a00) !important;
    border-radius: 24px;
    width: 2.54rem;
    height: .7rem;
    line-height: .7rem;
    font-size: .36rem;
    color: #fff;
    text-align: center;
    float: right;
}
.mescroll{
    position: fixed;
    top: 1.2rem;
    bottom: 1.45rem;
    height: auto;
    overflow-y: auto;
}
.cartNum {
    position: absolute;
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 50%;
    top: 5px;
    left: 6.8rem;
    background-color: #fb9000;
    color: #FFFFFF;
    font-size: .2rem;
    text-align: center;
    line-height: .5rem;
    display: none
}
.noMain{
    display: none;
}
.noMain img{
    display: block; width: 3.5rem; height: 3.05rem; margin: 0 auto;margin-top: 5rem;
}
.noMain p{
    text-align: center;font-size: .5rem; color: #c5c9cd; margin-top: 0.85rem;
}