/*public css*/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{margin: 0; padding: 0; border: 0; outline: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;}
ul, ol{list-style: none;}
a{color: black;text-decoration: none;}
a:hover {text-decoration: none;}
a {border: none;-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;outline: none;}
html{font-family: "微软雅黑",Arial;}
select{-moz-appearance:none;-webkit-appearance:none;-webkit-linearappearance:none;
}
body{-webkit-overflow-scrolling: touch;-webkit-overflow-scrolling : touch;background: #fdb20b }
textarea, a {
    -webkit-tap-highlight-color: transparent;
}
input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
::-webkit-scrollbar {display:none}
.clear{
    display: block;
    clear: both
}
#loading{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}
#loading>i {
    width: 1.6rem;
    height: 1.6rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("/images/loading.gif") no-repeat;
    background-size: cover;
}
.headerBanner{
    width: 100%;
    height: 5.43rem;
    display: block;
}
.headBanner .title{
    text-align: center;
    font-size: .44rem;
    color: #fff;
    padding-top: 1.18rem;
    font-weight: 600;
}
.headBanner .state{
    text-align: center;
    font-size: .24rem;
    color: #fff;
    padding-top: .47rem;
}
.inviteNow{
   
    width: 100%;
    height: 1.88rem;
    background: #ffbd2f;
    position: fixed;
    bottom: 0
}
 .inviteNow p{
    color: #fff;
    font-size: .4rem;
    line-height: 1.25rem;
    height: 1.22rem;
    text-align: center;
    background: #8d00ce;
    margin:  0 auto;
    margin-top: 0.28rem;
    background: #8d00ce;
    border-radius: 5px;
    width: 95%;
}
.giftVaule{
 font-size: 0.38rem;
    color: #ff8e45;
    line-height: 0.66rem;
    border: 1px dashed;
    padding: 0.42rem;
    text-align: center;
    margin-top: 0.6rem;
}
.mainOne{
    width: 10.15rem;
    height: 9.06rem;
    margin: 0 auto;
    background: #fff;
    border-radius: 3%;
    margin-top: .28rem;
    padding-top: 1.06rem
}
.scrollImg{
    width: 29.43rem;
    height: 3.32rem;
    display: block;
    margin-top: 0.48rem;
}

.superVaule{
    padding-top: 0.48rem;
    text-align: center;
    font-size: 0.4rem;
    color: #ff3f13;
    font-weight: 600;

}
.share-page{
    width: 10.32rem;
    height: 8.32rem;
    display: block;
    margin:0 auto;
    margin-top: 0.25rem;
}
.howItWork{
    width: 6.58rem;
    height: .66rem;
    background: url("/images/HowitWork.png");
    background-size: cover;
    margin: 0 auto;
    font-size: .3rem;
    color: #fff;
    text-align: center;
    line-height: .66rem
}
.stepOne{
    overflow: hidden;
    margin-left: 1.5rem;
    margin-top: 1rem
}
.stepOne p:nth-of-type(1){
    width: 1.5rem;
    height: .6rem;
    background: #ff8e45;
    border-radius: 24px;
    font-size: .4rem;
    color: #fff;
    text-align: center;
    line-height: .6rem;
    float: left;
}
.stepOne p:nth-of-type(2){
    color: #ff8e45; 
    font-size: .4rem;
    line-height: .6rem;
    float: left;
    margin-left: .74rem
}
.friendImg{
    display: block;
    margin: 0 auto;
    width: 3.29rem;
    height: 3.31rem;
    margin-top: .24rem
}
.stepTwo{
    overflow: hidden;
    margin-left: 1.5rem;
    margin-top: .7rem;
}
.stepTwo p:nth-of-type(1){
    margin-top: .5rem;
    width: 1.5rem;
    height: .6rem;
    background: #ff8e45;
    border-radius: 24px;
    font-size: .4rem;
    color: #fff;
    text-align: center;
    line-height: .6rem;
    float: left;
}
.stepTwo p:nth-of-type(2){
    width: 5.2rem;
    color: #ff8e45; 
    font-size: .4rem;
    line-height: .6rem;
    float: left;
    margin-left: .74rem
}
.mainTwo{
    width: 10.32rem;
    padding-bottom: 1rem;
    margin: 0 auto;
    background: #fff;
    margin-top: .25rem;
    padding-top: 0.46rem;
    border-radius: 10px;
    position: relative;
    max-height: 7rem;
    overflow: hidden;
    /* display: -webkit-box; */
    overflow-y: scroll;
}
.mainTwoTitle{
    margin: 0 auto;
    font-size: .42rem;
    text-align: center;
    color: #333;
    font-weight: 600
}
.inviteNum{
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    width: 1.46rem;
    height: 1.46rem;
    border-radius: 50%;
    background: #fff;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1.46rem;
    color: #ff8e45
}
.avatar{
    width:.98rem;
    height: .98rem;
    float: left;
}
.mainTwo ul{
    padding: 0.45rem 0.3rem 0.75rem .3rem
}
.mainTwo li{
    overflow: hidden;
    margin-bottom: .68rem
}
.mainTwo li:last-of-type{
    margin-bottom: 0
}
.orderState{
	width: 4.8rem;
    color: #333;
    float: left;
    font-size: .4rem;
    margin-left: .48rem;
    padding-top: 0.185rem;
}
.orderMoney{
    color: #333;
    float: right;
   font-size: .4rem;
    line-height: .98rem;
}
.seeMore{
    margin: 0 auto;
    width: .78rem;
    height: .78rem;
    border-radius: 50%;
    background: #fff;
    margin-bottom: .3rem
}
.seeMore img {
    width: .7rem;
    height: .7rem;
    display: block;
    margin: 0 auto;
}
.mainThree{
    background: #fff;
    width: 95%;
    margin-top: .25rem;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 0.25rem;
}
.mainBox{
    /* height: 17rem; */
    margin-top: .28rem;
    /* padding-top: .6rem; */
}
.mainBox .title{
    font-size: .4rem;
    color: #333;
    text-align: center;
    padding-top: .3rem;
    font-weight: 600;
}
.txt{
    font-size: .36rem;
    color: #333;
    line-height: .5rem;
    padding: 0 0.42rem 0 .42rem;
    margin-top: 0.14rem;
}
.txt:nth-of-type(1){
    margin-top: .45rem;
}
.showBox{
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index: 100;
}
.shareBox{
    display: none;
    overflow: hidden;
    height: 3rem;
    width: 100%;
    background: #fff;
    z-index: 999;
    position: fixed;
    
}
.ovfHiden{
    overflow: hidden;
}
.iconBox{
    margin-top: 0.4rem;
    width: 25%;
    float: left;
    position: relative;
}
.iconBox img{
    display: block;
    margin:  0 auto;
    width: 1rem;
    height: 1rem;
}
.iconBox p{
    text-align: center;
    font-size: 0.38rem;
    color: #333;
    margin-top: 0.15rem;
}
.cancel{
    border-top: 1px solid #f0f0f0;
    text-align: center;
    line-height: 1.1rem;
    font-size: 0.42rem;
    float: left;
    width: 100%;
    margin-top: 1.8rem;

}
.inviteMain{
    margin: 0 auto;
    margin-top: .28rem;
    padding: 0 0.45rem;
}
.inviteMain p{
    font-size: 0.36rem;
    color: #fff;
    line-height: 0.6rem;
}
.inviteMain p:nth-of-type(1){
    text-align: center;
}
.superValeBox{
    height: 5.4rem;
    width: 95%;
    margin: 0 auto;
    background: #ffeabc;
    border-radius: 5px;
    margin-top: 0.38rem;
    
}
.scrollBox{
    margin-left: 0.25rem; 
    margin-top: .48rem;
    width: 29.68rem;


}
@keyframes myfirst
{
    0%   { bottom: -3rem;}
    100% { bottom:0;}
}

@-moz-keyframes myfirst /* Firefox */
{
    0%   { bottom: -3rem;}
    100% { bottom:0;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0%   { bottom: -3rem;}
    100% { bottom:0;}
}

@-o-keyframes myfirst /* Opera */
{
    0%   { bottom: -3rem;}
    100% { bottom:0;}
}
.fb-share-button span {
	width: 100% !important;
    height: 2.4rem !important;
}
.fb-share-button iframe {
	width: 100% !important;
    height: 2.4rem !important;
}

.fb-share-button iframe #u_0_2{
	width: 130% !important;
    height: 4.4rem !important;
    opacity: 0 !important;
}
.maxHeight{
    height: 12.4rem !important
}